/*insert custom css below*/


body {
}

.heading {
}

.heading h1 {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.box {
  float: left; width: 300px; margin: 10px; 
}

}
.box:last-child {
}

.box h2 {
}

.box img {
  border: 10px solid #3f2;
  
}

.box a.read-more {
}

.footer {
  position: fixed;
}
