/*insert custom css below*/


body {
}

.heading {
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  border-bottom: 2px solid black;
}

.heading h1 {
  
}

.box {
  float: left; width: 31.3%; margin: 10px; 
}

}
.box:last-child {
}
.main-content: {
  100px;
}
.box h2 {
}

.box img {
  
}

.box a.read-more {
}

.footer {
  position: fixed;
}
