/*insert custom css below*/


body {
}

.heading {
}

.heading h1 {
  position: fixed;
}

.box1 {
  float: left; width: 300px; margin: 10px; 
}
.box2 {
  float: left; width: 300px; margin: 10px; 
}
.box3 {
  float: left; width: 300px; margin: 10px; 
}
.box:last-child {
}

.box h2 {
}

.box img {
  border: 10px solid #3f2;
  
}

.box a.read-more {
}

.footer {
  position: fixed;
}
